<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>注文情報入力</h3>
      <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
        <h5>支払方法</h5>
        <%= f.radio_button :payment_method, "creditcard" %>
        <%= f.label :payment_method, 'クレジットカード', value: "creditcard" %><br>
        <%= f.radio_button :payment_method, "bank_transfer" %>
        <%= f.label :payment_method, '銀行振込', value: "bank_transfer" %>
        <h5>お届け先</h5>
        <%= f.radio_button :address_number, "0" %>
        <%= f.label :address_number, 'ご自身の住所', value: 0 %><br>
        <p class="mx-4">
          〒<%= @customer.postal_code %>
          <%= @customer.address %>
          <%= @customer.last_name %><%= @customer.first_name %>
        </p>
        <%= f.radio_button :address_number, "1" %>
        <%= f.label :address_number, '登録済住所から選択', value: 1 %><br>
        <p class="mx-4">
          <%= f.collection_select :address_id, current_customer.addresses, :id, :full_address %><br>
        </p>
        <%= f.radio_button :address_number, "2" %>
        <%= f.label :address_number, '新しいお届け先', value: 2 %>
        <p class="mx-4">
          郵便番号(ハイフンなし)
          <%= f.text_field :post_code, placeholder: "000000" %>
        </p>
        <p class="mx-4">
          住所
          <%= f.text_field :address, placeholder: "東京都渋谷" %>
        </p>
        <p class="mx-4">
          宛名
          <%= f.text_field :name, placeholder: "令和道子" %>
        </p>
        <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
